@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  -webkit-font-smoothing: antialiased;
  /* background-color: #212121; */
  border: 0;
  /* color: rgba(255, 255, 255, 1); */
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  flex: 1;
  height: 100%;
  min-height: 100vw;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, OpenSans, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
